
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Editar registro</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeModal()" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="form">
            <div class="row g-3">
                <div class="col-12">
                    <label>Responsável</label>
                    <input type="text" class="form-control" placeholder="Responsável" aria-label="Responsável" formControlName="responsible">
                    <label *ngIf="form.controls['responsible'].value == ''" class="mandatory">Este campo é obrigatório </label>
                </div>
                <div class="col-12">
                    <label>Descrição</label>
                    <input type="text" class="form-control" placeholder="Descrição" aria-label="Descrição" formControlName="description">
                    <label *ngIf="form.controls['description'].value == ''" class="mandatory">Este campo é obrigatório </label>
                </div>
                <div class="col-12">
                    <label>Status</label>
                    <select class="form-select" aria-label="Selecione o Status" [(ngModel)]="this.form.controls['status'].value" formControlName="status">
                        <option [selected]="this.task.status == 0 " value="0">Selecione</option>
                        <option [selected]="this.task.status == 1 "value="1">A fazer</option>
                        <option [selected]="this.task.status == 2 "value="2">Fazendo</option>
                        <option [selected]="this.task.status == 3 "value="3">Feito</option>
                    </select>
                    <label *ngIf="form.controls['status'].value == 0" class="mandatory">Este campo é obrigatório </label>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" [disabled]="!this.form.valid" (click)="editTask()">Confirmar</button>
        <button type="button" class="btn btn-danger" (click)="closeModal()" >Cancelar</button>
    </div>
</div>
